// ================ phone ================
.logo {
  @include font(700, 24px, 28px);
  letter-spacing: 0.03em;
  font-family: var(--secondary-font);
  color: var(--accent-color);
}

/*.logo {
  font-family: var(--secondary-font);
  @include font(700, 26px, 1.19);
  /*font-weight: 700;
  font-size: 26px;
  line-height: 1.19;*/

/*color: var(--accent-color);
}*/

.header .logo {
  margin-right: 93px;
}

.logo_light {
  color: var(--basic-headers-color);
}

.logo_dark {
  color: var(--primary-background-color);
}
