.filters-list__button {
  @include font(500, 16px, 1.62);
  /*font-weight: 500;
  font-size: 16px;
  line-height: 1.62;*/
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 10px 32px;
  min-width: 70px;
  border-radius: 4px;
  border: none;
  display: block;
  outline: none;
  color: var(--basic-headers-color);

  transition: color var(--timing-function) var(--duration),
    background-color var(--timing-function) var(--duration),
    box-shadow var(--timing-function) var(--duration);

  &:hover,
  &:focus,
  &:active {
    color: var(--primary-background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.filters-list {
  display: flex;
  justify-content: center;
}

.filters-list__item:not(:first-child) {
  margin-left: 8px;
}

// ================ phone ================

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  opacity: 1;

  background: rgba(0, 0, 0, 0.2);

  transition: opacity var(--duration) var(--timing-function), visibility var(--duration) var(--timing-function);
}

.modal {
  margin: 0 auto;
  position: relative;
  max-width: 450px;
  height: 609px;

  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  z-index: 10;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background: var(--primary-background-color);

  &:hover .modal__icon-container-img,
  &:focus .modal__icon-container-img {
    fill: var(--accent-color);
  }
}

.modal__icon-container-img {
  transition: var(--timing-function) var(--duration);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal__form-fild {
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 4px;

  letter-spacing: 0.01em;

  color: var(--basic-content-color);
}

.modal-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal-wrapper__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }

  &:focus ~ .modal-wrapper__icon,
  &:hover ~ .modal-wrapper__icon {
    fill: var(--accent-color);
  }
}

.modal-wrapper__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: block;
  transform: translateY(-50%);
  transition: fill var(--duration) var(--timing-function);

  &:hover {
    fill: var(--accent-color);
  }
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color var(--duration) var(--timing-function);
  margin-bottom: 25px;
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  &:hover,
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-title {
  font-family: var(--main-font);
  display: block;

  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 12px;
}

.modal-form-check-desk {
  //   position: relative;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  white-space: nowrap;
  &::before {
    // position: absolute;
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    border: 2px solid #212121;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
  }
  .modal-form-term:checked + &::before {
    background-image: url(../images/modal/Vector.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid var(--accent-color);
    border-radius: 2px;
    background-color: var(--accent-color);
  }
  .modal-form-term:focus + &::before {
    outline: 2px solid var(--accent-color);
  }
}

.modal-form-btn {
  display: block;
  @include font(700, 16px, 1.85);
  /*font-weight: 700;
  font-size: 16px;
  line-height: 1.85;*/
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  margin: 0 auto;
  margin-top: 45px;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: color var(--timing-function) var(--duration), background-color var(--timing-function) var(--duration);

  color: #ffffff;
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.policy-link {
  display: inline;
  color: var(--accent-color);
  text-decoration: underline;
}
.modal-window-wrapper {
  position: absolute;
  padding: 15px;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
}
@media screen and (min-width: 768px) {
  .modal-window-wrapper {
    padding: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    height: 581px;
  }
  .modal-form-check-desk {
    font-size: 14px;
    line-height: 24px;
  }
  .modal-window-wrapper {
    overflow: none;
  }
}
@media screen and (max-width: 479px) {
  .modal-form-check-desk {
    white-space: nowrap;
    flex-wrap: wrap;
  }
}
/*.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;

  background: rgba(0, 0, 0, 0.2);
  transition: opasity var(--timing-function) var(--duration);
}

.modal {
  position: absolute;
  max-width: 450px;
  height: 609px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background: var(--primary-background-color);

  &:hover .modal__icon-container-img,
  &:focus .modal__icon-container-img {
    fill: var(--accent-color);
  }
}

.modal__icon-container-img {
  transition: var(--timing-function) var(--duration);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal__form-fild {
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 4px;

  letter-spacing: 0.01em;

  color: var(--basic-content-color);
}

.modal-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal-wrapper__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }

  &:focus ~ .modal-wrapper__icon,
  &:hover ~ .modal-wrapper__icon {
    fill: var(--accent-color);
  }
}

.modal-wrapper__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: block;
  transform: translateY(-50%);
  transition: fill var(--duration) var(--timing-function);

  &:hover {
    fill: var(--accent-color);
  }
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color var(--duration) var(--timing-function);
  margin-bottom: 25px;
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  &:hover,
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-title {
  font-family: var(--main-font);
  display: block;

  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 12px;
}

.modal-form-check-desk {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  display: flex;

  align-items: center;

  &::before {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid #212121;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
  }
  .modal-form-term:checked + &::before {
    background-image: url(../images/modal/Vector.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid var(--accent-color);
    border-radius: 2px;
    background-color: var(--accent-color);
  }
  .modal-form-term:focus + &::before {
    outline: 2px solid var(--accent-color);
  }
}
.modal-form-btn {
  display: block;
  @include font(700, 16px, 1.85);
  
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  margin: 0 auto;
  margin-top: 45px;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: color var(--timing-function) var(--duration),
    background-color var(--timing-function) var(--duration);

  color: #ffffff;
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.policy-link {
  display: inline;
  color: var(--accent-color);
  text-decoration: underline;
}
