.about-us-title {
  @include font(700, 36px, 1.16);

  text-align: center;

  color: var(--basic-headers-color);
  margin-bottom: 50px;
}

.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 14px;

  color: var(--basic-headers-color);
}
.team {
  background: var(--third-background-color);
  padding-top: var(--section-pt);
  padding-bottom: 60px;
}

.description-team {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team-list__item {
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  // width: 100%;
}

.team-list__item ul {
  display: flex;
  justify-content: center;
}

// .team-list__item img {
//   max-width: 100%;
//   height: auto;
// }

.team-list-content-wrapper {
  padding: 30px 32px;
  text-align: center;
  background-color: white;
}

/*.team-list-content-wrapper > ul {
  display: flex;
  justify-content: center;
}*/

.team-icon-container-img use {
  fill: var(--common-grey);
  transition: fill var(--timing-function) var(--duration);
}

// .team-list__item:not(:last-child) {
//   margin-bottom: 30px;
// }

.team-list__item {
  margin-bottom: 30px;
}
.team-icon-container {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--timing-function) var(--duration);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    cursor: pointer;
  }
  &:hover .team-icon-container-img use {
    fill: var(--primary-background-color);
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .team {
    background: var(--third-background-color);
    padding-top: var(--section-pt);
    padding-bottom: var(--section-pb);
  }
}
