/*.address {
  font-style: normal;
  margin-left: auto;
  display: flex;
}*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

img,
svg {
  display: block;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  //align-items: center;

  .header & {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// ================ phone ================
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

// ================ tablet ================
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

// ================ desktop ================
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
/*.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}*/
